      @media (min-width: 375px) and (max-width: 719px) {
        .container {
          max-width: 100%;
        }

        .photo img {
          grid-column: 1 / -1;
        }

        h2 {
          grid-column: 2 / 12;
          margin-bottom: 30px;
        }

        ul {
          grid-column: 2 / 12;
          list-style-type: none;
          line-height: 1.25em;
          padding-left: 0em;
          text-align: left;
        }

        .caption {
          font-family: 'montserrat', sans-serif;
          font-size: .9em;
          font-style: italic;
          grid-column: 2 / 12;
          margin-top: -1em;
        }

        .colorChips {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
          margin-bottom: 2em;
        }

        .ptsans {
            grid-template-columns: 8, 1fr;
            grid-column: 2 / 8;
            font-size: 1.4em;
            height: auto;
            line-height: 40px;
        }
/* ENBOX page */
          /* .column {
            margin-bottom: 4em;
          }

          .role {
            font-family: 'Open Sans', sans-serif;
            font-size: .9em;
            font-weight: 300;
            text-align: center;
          }

          .role p {
            line-height: .7em;
          }

          img {
            margin-top: 2em;
          }

          .solution .container h2 {
            grid-column: 2 / 10;
          }

          .surveys span {
            font-size: 4em;
          }

          .wireframe1 {
            grid-column: 3 / 10;
          }

          .wireframe2 {
            grid-column: 3 / 10;
          }

          .wireframe p {
            grid-column: 3 / 12;
            margin-top: -1em;
          } */
      }
/* TABLET */
      @media (min-width: 720px) and (max-width: 991px) {
        .container {
          display: grid;
        }

        .container p {
          grid-column: 6 / 12;
        }

        .container img {
          grid-column: 5 / 9;
          margin-bottom: 3em;
        }

        .container h2 {
          grid-column: 2 / 4;
        }

        .container h3 {
          grid-column: 4 / 10;
        }

        .container a {
          grid-column: 4 / 10;
        }

        .photo img {
          grid-column: 4 / 10;
        }

        .one {
          grid-column: 2 / 5;
        }

        .two {

        }

        /* .list {
          display: flex;
          justify-content: space-around;
          text-align: left;
        } */

        /* .list {
          display: grid;
          grid-template-columns: 12, 1fr;
        }

        .one {
          grid-column: 2 / 4;
        }

        .two {
          grid-column: 5 / 7;
        }

        .three {
          grid-column: 8 / 10;
        } */

        .caption {
          grid-column: 4 / 10;
        }

        .caption {
          font-family: 'montserrat', sans-serif;
          font-size: .9em;
          font-style: italic;
          grid-column: 4 / 10;
          margin-top: -1em;
        }

        .colorChips {
          display: grid;
          grid-gap: 5px;
          grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
          margin-bottom: 2em;
          margin-left: 12em;
          margin-right: 12em;
        }

        .ptsans {
            grid-column: 3 / 7;
            font-size: 1.4em;
            height: auto;
            line-height: 40px;
        }
      }
/* ENBOX PROJECT PAGE */
        /* .column {
          margin-bottom: 4em;
        }

        .solution img {
          margin-top: 2em;
        }

        .role .column {
          display: inline-block;
          width: 25%;
          vertical-align: top;
        }

        .solution .columns p {
          margin-left: 2em;
        }

        .process .surveys .columns p {
          font-size: .9em;
          width: 90%;
        }

        .container .card1 {
          grid-column: 3 / 7;
        }

        .container .card2 {
          grid-column: 7/ 11;
        }

        .wireframe1 {
          grid-column: 3 / 7;
        }

        .wireframe2 {
          grid-column: 7/ 11;
        }

        .wireframe p {
          grid-column: 3 / 11;
          margin-top: -1em;
        }

        .userstories .container .first h2 {
          display: none;
        }

        .ptsans {
          padding: 2em;
        } */

      /* } */

/* @media only screen and (min-device-width: 1281px) {
  .container { */
      @media (min-width: 992px) {
      .container {
          display: grid;
          grid-template-columns: repeat(8, 1fr);
          font-size: 1em;
          max-width: 100%;
        }

        .container p {
          grid-column: 4 / 10;
        }

        .container h2 {
          grid-column: 4 / 10;
        }

        .container a {
          grid-column: 4 / 10;
        }

        .container img {
          grid-column: 5 / 9;
          margin-bottom: 1.5em;
        }

        /* .list {
          grid-column: 2 / 12;
        } */

        /* .one {
          grid-column: 2 / 4;
          line-height: 1.5em;
        }

        .two {
          grid-column: 5 / 7;
          line-height: 1.5em;
        }

        .three {
          grid-column: 8 / 10;
          line-height: 1.5em;
        } */


        .swot {
          display: flex;
        }

        .swot img {
          height: 50px;
          margin: 2.5em;
        }

        .visual img {
          grid-column: 5 / 9;
        }

        .container h3 {
          grid-column: 4 / 10;
        }

        .userstories img {
          grid-column: 5 / 9;
        }

        .userflows img {
          grid-column: 3 / 11;
        }

        .colorChips {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
          margin-bottom: 2em;
          margin-left: 20em;
          margin-right: 20em;
        }

        .ptsans {
            grid-column: 3 / 7;
            font-size: 1.4em;
            height: auto;
            line-height: 40px;
        }
      }
  /*
        .container .body {
          grid-column: 4 / 10;
        } */
/* HOMEPAGE */

/* ENBOX PROJECT PAGE */
/* TWO COLUMN division */
        /* .container .divide {
          display: flex;
          grid-column: 2 / 12;
        }

        .container h2 {
          grid-column: 4 / 10;
        }

        .first {
          text-align: right;
          width: 50%;
          grid-column: 2 / 4;
        }

        .second {
          width: 80%;
        }

        .solution .container .secondimg{
          grid-column: 6 / 12;
        }

        .second img {
          padding-left: 6em;
          width: 75%;
        } */

/* THREE COLUMN DIVIDE */
        /* .dividethree .body {
          display: flex;
          grid-column: 2 / 12;
          justify-content: space-between;
        }

        .column {
          display: inline-block;
          width: 25%;
          vertical-align: top;
        }

        .container .card1 {
          grid-column: 3 / 7;
        }

        .container .card2 {
          grid-column: 7/ 11;
        }

        .wireframe1 {
          grid-column: 3 / 7;
        }

        .wireframe2 {
          grid-column: 7 / 11;
        }

        .wireframe p {
          grid-column: 4 / 11;
          margin-top: -1em;
        }

        .userstories .container .first {
          width: 75%;
        }

         .ptsans {
           padding: 2em;
         } */

/* GENERAL NON-RESPONSIVE CSS FOR THE REST OF THE SITE */
body {
  font-family: 'roboto slab', sans-serif;
  font-weight: 300;
  line-height: 1.4em;
  font-size: 15px;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

p {
  grid-column: 2 / 12;
  margin-top: 0em;
  margin-bottom: 2.5em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 2em;
  /* grid-column: 2 / 12; */
  letter-spacing: 1.5px;
  /* margin-bottom: 30px; */
}

a {
  grid-column: 2 / 12;
  font-weight: 500;
  text-decoration: none;
  color: blue;
  margin-bottom: 2em;
}

/* .list {
  display: grid;
  font-family: 'roboto slab', serif;
  font-weight: 300;
  list-style-type: none;
  opacity: 75%;
} */

ul {
  list-style-type: none;
  line-height: 1.25em;
  font-size: .8em;
  letter-spacing: .3px;
}

/* ul {
  grid-column: 2 / 12;
  list-style-type: none;
  line-height: 1.25em;
  padding-left: 0em;
  text-align: center;
} */

h4  {
  font-family: 'montserrat', sans-serif;
  font-size: 1.3em;
  margin-bottom: 0em;
  font-weight: 500;
  margin-bottom: 10px;
}

h3 {
  font-family: 'montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.4em;
  grid-column: 2 / 12;
}

img {
  width: 100%;
  grid-column: 3 / 11;
  margin-bottom: 1.5em;
}

.swot {
  display: flex;
  padding: auto;
}

.swot img {
  height: auto;
  margin: 2.5em;
}

.competition span {
  font-size: 1.2em;
  font-weight: 700;
}

.percent {
  font-family: 'montserrat', sans-serif;
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 15px;
}

.circle {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  line-height: 75px;
  text-align: center;
  color: white;
}

.color1 {
  background-color: #5398FF;
}

.color2 {
  background-color: #A377FF;
}

.color3 {
  background-color: #F049F3;
}

.color4 {
  background-color: #3F7BD3;
}

.color5 {
  background-color: #875DDE;
}

.color6 {
  background-color: #C73ACA;
}

.color7 {
  background-color: #1336B4;
}

.color8 {
  background-color: #4214C6;
}

.color9 {
  background-color: #740B7D;
}

.color10 {
  background-color: #EAEFF7;
}

.type {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: #F8F7FA;
  padding-top: 2.5em;
}

/* .ptsans {
    grid-template-columns: 8, 1fr;
    grid-column: 2 / 8;
    font-size: 1.4em;
    height: auto;
    line-height: 40px;
} */

.ptsans p {
  padding-bottom: 0em;
}

footer {
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
  font-weight: 300;
}

.footer {
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   margin-left: 40%;
   margin-right: 40%;
}

.footer img {
  width: 20px;
}

.copyright {
  text-align: center;
}

.footer li {
  opacity: .5;
}

.footer li:hover {
  opacity: .8;
}


      /* .container {
        display: grid;
        font-family: 'Roboto slab', sans-serif;
        font-weight: 300;
        grid-gap: 2em;
        grid-template-columns: repeat(8, 1fr);
        line-height: 1.5em;
        margin-bottom: 4em;
        margin-top: 4em;
        text-align: left;
      }

      p {
        grid-column: 1 / 10;
        line-height: 2em;
      } */
/*
      .role {
        font-family: 'Open Sans', sans-serif;
        font-size: .9em;
        font-weight: 300;
        text-align: center;
      }

      .role p {
        line-height: .7em;
      }

      .surveys span {
        font-size: 4em;
      }

      img {
          max-width: 100%;
        } */
/* NAVBAR */
      /* nav {
        display: flex;
        height: 50px;
        line-height: 50px;
        width: 100%;
      }

      nav ul {
        float: right;
        margin-right: 30px;
      }

      nav ul li {
        list-style-type: none;
      }

      nav ul li a {
        color: inherit;
        text-decoration: none;
      }

      .ben {
          font-family: "Montserrat", sans-serif;
          margin-top: 1em;
          margin-left: 2em;
          width: 8em;
        }

        .ben a {
          font-size: 1.25em;
          font-weight: 500;
          text-decoration: none;
          color: inherit;
        }

      .ben:hover{
        opacity: .75;
      }

      .links {
        display: flex;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        list-style-type: none;
        margin-left: auto;
      }

      a {
        color: #3F7BD3;
        font-weight: 300;
        text-decoration: none;
      }

      a:hover {
          opacity: .5;
        }



      li a {
        padding: 1em;
        text-decoration: none;
      }

      .container h2 {
        font-family: 'Roboto';
        font-size: 3em;
        font-weight: 700;
      }

      .container h2 {
        grid-column: 4 / 10;
        line-height: 1.5em;
      }

        .columnimage {
          background-image: url("https://user-images.githubusercontent.com/52806406/83908802-b29d9b00-a735-11ea-86da-45525cc3136d.png");
          height: 15em;
          background-position: center;
          background-size: cover;
          margin-right: 2em;
        }

        .visual p {
          margin-bottom: 4em;
        } */

/* HOMEPAGE  */
      /* .intro {
        height: 100%;
      }

      .intro .container h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 4em;
        font-weight: 500;
        text-align: left;
        padding-top: 2em;
        margin-bottom: 0em;
      }

      .intro span {
        color: #1f75f4;
      } */

      /* .intro { */
          /* background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url('https://user-images.githubusercontent.com/52806406/87972001-33211c80-ca94-11ea-94ee-7914e6351668.jpg'); */
          /* background-position: center;
          background-size: cover;
          max-width: 100%;
      }

      .intro .container {
        margin-top: 1em;
      }

      .intro .container p {
        font-size: 1.5em;
      } */
/* enbox image */
      /* .projects {
        background-color: #EAEFF7;
        margin-left: .3em;
        margin-right: .3em;
      }

      #logo {
        margin-top: 4em;
        width: 12em;
      }

      .logo {
        margin-bottom: 2em;
        margin-top: 4em;
        width: 10em;
      }

      #dashboard {
        margin-bottom: 4em;
        margin-top: 4em;
        width: 100%;
      } */
  /* BIOGRAPHY page */
      /* .bio { */
          /* background-image: url("https://user-images.githubusercontent.com/52806406/84335707-7918c580-ab63-11ea-9301-5de231155081.jpg"); */
          /* height: 30em;
          background-position: center;
          background-size: cover;
          max-width: 100%;
      }

      .aboutme h1 {
        font-size: 3em;
        margin-top: -1em;
        margin-bottom: 2em;
      }

      .aboutme h4 {
        font-size: 1.25em;
      }

      .aboutme span {
        font-weight: 700;
      } */

/* ENBOX CASE STUDY */
      /* .title {
        grid-column: 3 / 7;
      }

      .body {
        grid-column: 2 / 12;
      }

      .link {
        grid-column: 3/ 10;
      }

      .enboximage {
        grid-column: 2 / 12;
      }

      h1 {
        font-family: "roboto", sans-serif;
        font-size: 4em;
        font-weight: 500;
        margin-bottom: 1em;
        text-align: center;
      }

      .container .fa {
        font-size: 2em;
      } */
/* PROBLEM */
      /* .problem span {
        font-size: 1.5em;
        font-weight: 700;
      } */


/* SWOT Analysis */
      /* .container h3 {
        font-size: 2em;
        font-weight: 300;
      }

      .swotanalysis span {
          color: blue;
          font-size: 1.5em;
        }

      .usersurvey span {
          color: blue;
          font-size: 3em;
          font-weight: 700;
      } */
/* FAULTY ASSUMPTIONS */
      /* .solution > div:first-of-type {
        margin-top: -2em;
        margin-bottom: -4em;
      }

      .userstories > div:first-of-type {
        margin-top: -2em;
        margin-bottom: -4em;
      }

      .grey {
        background-color: #ededed;
        padding-bottom: 4em;
        padding-top: 4em;
        margin-left: .3em;
        margin-right: .3em;
      }

      .userstories > .grey:first-of-type {
        padding-top: 0em;
        padding-bottom: -4em;
      }

      .userstories > div:first-of-type {
        padding-top: 0em;
      }

      .userstories {
        padding-top: 4em;
      }

      .container .columns .personas {
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 2em;
      }

      .firstimg p {
        font-size: .8em;
      }

      .secondimg p {
        font-size: .8em;
      }

      .personas {
        background-color: #F8F7FA;
        display: grid;
        font-family: "Open Sans", sans-serif;
        font-size: .9em;
        line-height: 2em;
        margin-bottom: 4em;
        padding-bottom: 2em;
        text-align: left;
      }

      .personas span {
        font-weight: 700;
      }

      .personas img {
        border-radius: 50%;
        width: 15em;
        margin-top: 0em;
      }

      .personaname {
        text-align: center;
        font-size: 2em;
      }

      .personas h4 {
        font-size: 1.2em;
        margin-bottom: 0em;
      }

      .personas ul {
        text-align: center;
        list-style-type: none;
      }

      .personagoals {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }

      .personafrustrations {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }

      .personamotivations {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: left;
      } */

/* faulty assumptions */
      /* #faulty {
        background-color: rgba(237,25,25,.1) ;
      }

      .accessibility span {
        font-weight: 700;
      }
      .dark {
        background-color: #40718C;
        color: white;
        padding-bottom: 8em;
        padding-top: 8em;
      }

      .conclusion span {
        color: inherit;
        font-size: 1.05em;
        font-weight: 800;
      }

      .conclusion a {
        color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
      }

      .conclusion a:hover {
        opacity: .5;
      }

      .lightblue {
        background-color: #0044cc26;
      }

      .userflow img {
        grid-column: 2 / 12;
        max-width: 100%;
      }

      .userflow p {
        grid-column: 2 / 12;
      }

      .userflow h4 {
        grid-column: 2 / 12;
      }

      .wireframeredux img {
        margin-top: 2em;
      } */

/* COLOR */
      /* .colorChips {
        color: white;
        display: grid;
        font-family: "Open Sans", sans-serif;
        font-size: .8em;
        font-weight: 300;
        text-align: center;
        grid-gap: 2em;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
      }

      .circle {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 75px;
        height: 75px;
        border-radius: 5px;
        line-height: 75px;
      }

      .color1 {
        background-color: #5398FF;
      }

      .color2 {
        background-color: #A377FF;
      }

      .color3 {
        background-color: #F049F3;
      }

      .color4 {
        background-color: #3F7BD3;
      }

      .color5 {
        background-color: #875DDE;
      }

      .color6 {
        background-color: #C73ACA;
      }

      .color7 {
        background-color: #1336B4;
      }

      .color8 {
        background-color: #4214C6;
      }

      .color9 {
        background-color: #740B7D;
      }

      .color10 {
        background-color: #EAEFF7;
      }

      #longpic {
        padding-top: 2.2em;
        width: 75%;
      }

      #colorend {
        padding-top: 2em;
      }

      .typography h4 {
        margin-top: 4em;
        font-size: 1.2em;
        text-align: center;
      }

      .ptsans {
        background-color: #F8F7FA;
        font-size: 1.4em;
        padding: 2em;
        }
      }

      .dashboard {
        background-image: url("https://user-images.githubusercontent.com/52806406/85465249-904daf00-b576-11ea-8137-769bbc0bb7ca.png");
        height: 15em;
        background-position: center;
        background-size: cover;
        margin-right: 2em;
      }

      .prototypeandtesting img {
        margin-top: 2em;
        margin-bottom: 2em;
      }

      .preferencetesting img{
        margin-top: 4em;
      }

      footer {
        font-family: "Open Sans", sans-serif;
        font-size: .8em;
        font-weight: 300;
      }

      .footer {
         display: flex;
         justify-content: center;
         list-style-type: none;
      }

      .copyright {
        text-align: center;
      }

      .footer li {
        opacity: .5;
      }

      .footer li:hover {
        opacity: .8;
      }

      html {
        scroll-behavior: smooth;
      }

      .enboxintro {
          justify-content: center;
          align-items: center;
          text-align: center;
          color: inherit;
        }

        .enboxintro a {
          font-weight: 500;
        }

        .wireframeimg {
          grid-column: 4 / 10;
        } */

      /* USER PERSONA CARD */
        /* .card {
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          font-family: "Open sans"; sans-serif;
          font-size: .8em;
          transition: 0.3s;
          grid-column: 2 / 12;
        } */

        /* On mouse-over, add a deeper shadow */
        /* .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .card span {
          color: inherit;
          font-size: 1em;
          font-weight: 700;
        } */

        /* Add some padding inside the card container */
        /* .info {
          padding: 2px 16px;
        }

        .contact {
          display: block;
          padding: 15px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 10em;
          width: 15em;
        }

        input {
          padding: 1em;
          width: 10em;
          display: block;
          padding-left: 1em;
          padding-right: 8em;
          margin-top: 5px;
          color: black;
        }

        #message {
          padding-bottom: 5em;
        }

        .button {
          background-color: #740B7D;
          border-radius: 15px;
          color: white;
          display: block;
          margin-top: 1em;
          padding: 1em 1em;
          text-align: center;
          text-decoration: none;
        } */
