      @media (min-width: 375px) and (max-width: 719px) {
        .container {
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
        }

        header img {
          grid-column: 3 / 11;
        }

        .heading {
          grid-column: 3 / 11;
        }

        .paragraph {
          grid-column: 3/ 11;
        }
/* HOME PAGE */
        .project {
          flex-direction: column;
          margin-top: 5em;
          text-align: center;
        }
/* ENBOX PROJECT PAGE */
        .link {
          grid-column: 3 / 7;
        }

        .roles span {
          font-weight: 700;
        }
      }
/* TABLET */
      @media (min-width: 720px) and (max-width: 991px) {
        .container {
          max-width: 100%;
          max-width: 961px;
          margin-left: auto;
          margin-right: auto;
        }
/* HOME PAGE */
      .project {
        text-align: left;
      }

      .preview {
        margin-right: auto;
        width: 100%;
      }
/* PROJECT PAGE CODE */
        header img {
          grid-column: 4 / 10;
        }

        .heading {
          grid-column: 4 / 10;
        }

        .paragraph {
          grid-column: 4 / 10;
          }

        .link {
          grid-column: 4 / 7;
        }

        .roles span {
          font-weight: 700;
        }
}
/* @media only screen and (min-device-width: 1281px) {
  .container { */
      @media (min-width: 992px) {
        .container {
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
        }

/* HOME PAGE */
.project {
  text-align: left;
}

.preview {
  margin-right: auto;
  width: 100%;
}

/* PROJECT PAGE */
        header img {
          grid-column: 4 / 10;
        }

        .heading {
          grid-column: 4 / 10;
        }

        .paragraph {
          grid-column: 4 / 10;
          }

        .link {
          grid-column: 4 / 7;
        }

        .roles span {
          font-weight: 700;
        }
}
/* GENERAL NON-RESPONSIVE CSS FOR THE REST OF THE SITE */
body {
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

img {
  width: 100%;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.link a {
  color: white;
  font-weight: 300;
  letter-spacing: 1.2px;
  margin-bottom: 2em;
}

h1 {
  font-family: 'archivo black', sans-serif;
  font-size: 3em;
}

h2 {
  font-weight: 300;
  font-size: 3em;
  letter-spacing: 1.5px;
}

h3 {
  font-weight: 300;
  font-size: 1.9em;
  grid-column: 2 / 12;
  margin-bottom: 0em;
}

h4  {
  color: #548BA1;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: -1em;
}

h5 {
  margin-bottom: -1em;
  font-size: 1em;
  font-weight: 500;
}

.paragraph {
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1px;
  }
.spaceuptop {
  margin-top: 6em;
}

.smallspaceuptop {
  margin-top: 2em;
}

.grey {
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #E3EAF3;
}

.blue {
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #CBE3EE;
}

.button {
  background-color: #3898EC;
  display: block;
  margin-top: 2em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.button:hover {
 box-shadow: 0 6px 6px 0 #3898EC;
 transform: scale(1.05);
}

.button2 {
  background-color: #548BA1;
  display: block;
  margin-top: 2em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

/* HOME PAGE */
.intro {
    margin-top: 2em;
    margin-bottom: 10em;
}

.project {
    display: flex;
    grid-column: 2 / 12;
    padding: 4em;
}

.lightblue {
    background-color: #E0EEF7;
}

.red {
  background-color: #F5D8D5;
  margin-top: 2em;
}

.project h2 {
    color: #214753;
    font-weight: 800;
    font-size: 1.8em;
    margin-bottom: 30px;
}

.preview img {
  width: 75%;
}

/* PROJECT PAGE */
.blurb {
  line-height: 28px;
}

.blurb + .blurb {
  margin-top: 3em;
}

.percent {
  font-size: 2em;
  font-weight: 300;
}

.percent + p {
  margin-bottom: 4em;
}

.image {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.image img {
  width: 15%;
}
/* USER PERSONA CARD */
.card {
  background-color: #F2F2F2;
  font-family: 'montserrat', sans-serif;
  line-height: 25px;
}

.card img {
  margin-top: 0em;
}

.card h3 {
  color: #548BA1;
  font-size: 1em;
  font-weight: 700;
}

.card h3 + p {
  margin-bottom: 2em;
}

.name {
  Line-height: 12px;
  margin-bottom: 2em;
  margin-top: 2em;
}

.name span {
  color: #548BA1;
  font-size: 1.8em;
  font-weight: 800;
}

.info {
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: -2em;
}

.info p {
  font-size: .9em;
}

.caption {
    font-size: .9em;
    font-style: italic;
    margin-top: -3em;
}

.colorChips {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.circle {
    border-radius: 40px;
    color: white;
    font-size: .9em;
    font-weight: 500;
    height: 80px;
    line-height: 75px;
    text-align: center;
    width: 80px;

}

.color1 {
    background-color: #5398FF;
}

.color2 {
    background-color: #A377FF;
}

.color3 {
    background-color: #F049F3;
}

.color4 {
    background-color: #3F7BD3;
}

.color5 {
  background-color: #875DDE;
}

.color6 {
  background-color: #C73ACA;
}

.color7 {
  background-color: #1336B4;
}

.color8 {
  background-color: #4214C6;
}

.color9 {
  background-color: #740B7D;
}

.color10 {
  background-color: #EAEFF7;
}

.ptsans {
  display: flex;
  flex-direction: column;
  font-family: 'pt sans', sans-serif;
  font-size: 1.5em;
  letter-spacing: .1em;
  line-height: 2em;
  padding: 2em;
}

ul {
  padding-left: 0em;
}


/* ENBOX PROJECT PAGE */
header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 4em;
}

.container ul {
  list-style-type: none;
  line-height: 1.3em;
  letter-spacing: .3px;
}

footer {
  font-family: "Roboto", sans-serif;
  font-size: .8em;
  font-weight: 300;
}

.footer {
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   margin-left: 40%;
   margin-right: 40%;
}

.footer img {
  width: 20px;
}

.copyright {
  text-align: center;
}

.footer li {
  opacity: .5;
}

.footer li:hover {
  opacity: .8;
}

/* NAVBAR */
nav {
  display: flex;
  height: 50px;
}

.ben {
  font-family: 'archivo black', sans-serif;
  font-size: 1.2em;
  margin-top: 1em;
  margin-left: 2.5em;
  width: 10em;
}

.ben a {
  font-weight: 800;
  text-decoration: none;
}

.ben:hover{
  opacity: .75;
}

.links {
  display: flex;
  font-family: 'roboto', sans-serif;
  margin-left: auto;
  margin-right: 2em;
  list-style-type: none;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
  margin-left: 2em;
}

a:hover {
    opacity: .5;
  }

      /* nav {
        display: flex;
        height: 50px;
        line-height: 50px;
        width: 100%;
      } */

      /* nav ul li a {
        color: inherit;
      }

      .ben {
          font-family: "Montserrat", sans-serif;
          margin-top: 1em;
          margin-left: 2em;
          width: 8em;
        }

        .ben a {
          font-size: 1.25em;
          font-weight: 500;
          text-decoration: none;
          color: inherit;
        }

      .ben:hover{
        opacity: .75;
      }

      a {
        color: #3F7BD3;
        font-weight: 300;
        text-decoration: none;
      }

      a:hover {
          opacity: .5;
        } */


/*
      li a {
        padding: 1em;
        text-decoration: none;
      }

      .container h2 {
        font-family: 'Roboto';
        font-size: 3em;
        font-weight: 700;
      }

      .container h2 {
        grid-column: 4 / 10;
        line-height: 1.5em;
      }

        .columnimage {
          background-image: url("https://user-images.githubusercontent.com/52806406/83908802-b29d9b00-a735-11ea-86da-45525cc3136d.png");
          height: 15em;
          background-position: center;
          background-size: cover;
          margin-right: 2em;
        }

        .visual p {
          margin-bottom: 4em;
        } */

/* HOMEPAGE  */
      /* .intro {
        height: 100%;
      }

      .intro .container h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 4em;
        font-weight: 500;
        text-align: left;
        padding-top: 2em;
        margin-bottom: 0em;
      }

      .intro span {
        color: #1f75f4;
      } */

      /* .intro { */
          /* background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url('https://user-images.githubusercontent.com/52806406/87972001-33211c80-ca94-11ea-94ee-7914e6351668.jpg'); */
          /* background-position: center;
          background-size: cover;
          max-width: 100%;
      }

      .intro .container {
        margin-top: 1em;
      }

      .intro .container p {
        font-size: 1.5em;
      } */
/* enbox image */
      /* .projects {
        background-color: #EAEFF7;
        margin-left: .3em;
        margin-right: .3em;
      }

      #logo {
        margin-top: 4em;
        width: 12em;
      }

      .logo {
        margin-bottom: 2em;
        margin-top: 4em;
        width: 10em;
      }

      #dashboard {
        margin-bottom: 4em;
        margin-top: 4em;
        width: 100%;
      } */
  /* BIOGRAPHY page */
      /* .bio { */
          /* background-image: url("https://user-images.githubusercontent.com/52806406/84335707-7918c580-ab63-11ea-9301-5de231155081.jpg"); */
          /* height: 30em;
          background-position: center;
          background-size: cover;
          max-width: 100%;
      }

      .aboutme h1 {
        font-size: 3em;
        margin-top: -1em;
        margin-bottom: 2em;
      }

      .aboutme h4 {
        font-size: 1.25em;
      }

      .aboutme span {
        font-weight: 700;
      } */


        input {
          padding: 1em;
          width: 10em;
          display: block;
          padding-left: 1em;
          padding-right: 8em;
          margin-top: 5px;
          color: black;
        }

        #message {
          padding-bottom: 5em;
        }
