.container { width: 375px; }

@media (min-width: 600px) {
  .container {
    width: 580px;
  }
}
.container {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 25px;
  max-width: 100%;
  text-align: center;
}
/* All images  */
img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 100%;
  }
/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
}

a {
  color: inherit;
  font-weight: 300;
  padding: 20px;
  text-decoration: none;
}
nav img {
  margin-left: 50%;
  width: 50%;
}
/* HEADER */
header {
  background-color: #86CEE6;
  padding-bottom: 1%;
  padding-top: 5%;
}

/* HEADINGS FOR EACH SECTION */

h1 {
  font-size: 3em;
  margin: 0;
  padding: 20px;
}
/* All text */
p {
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 75%;
  text-align: left;
}
/* My roles/deliverables/tools */
#roles h3 {
  font-weight: 500;
  margin-bottom: 5px;
}

#roles p {
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

/* heading of projects */
h2 {
  background-color: #D5CAEC;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2em;
  font-weight: 500;
  padding: 3%;
}
/* Clickable Prototype button */
.button {
  background-color: #740B7D;
  border: none;
  border-radius: 15px;
  color: white;
  display: inline-block;
  margin-bottom: 30px;
  padding: 10px 30px;
  text-decoration: none;
}

/* SWOT Analysis */
.SWOT img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
/* User Survey */
.percent span {
  display: block;
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15%;
  width: 50%;
}

.percent p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 50%;
}
/* faulty assumptions */
#faulty {
  background-color: rgba(237,25,25,.1) ;
}

#faulty h2{
  background-color: rgba(237,25,25,.1) ;
}

.conclusion span {
  font-weight: 800;
}

.conclusion a {
  font-size: 1.25em;
}
#footer {
   display: flex;
   justify-content: center;
   list-style-type: none;
   margin-top: 100px;
}

#footer li {
  opacity: 0.5;
  padding: 5px;
}
